{% extends 'base.html' %}
{% block head %}
{% block title %} <title>Sign Up</title> {% endblock %}
{% endblock %}
{% block content %}
{% block top_text %}{% endblock %}
    <h3>
        Create New Post for {user.name}:
    </h3>
    <form action="/users/{{user.id}}/posts/new" method="POST">
    <input type="text" name="Title" placeholder="Title">
    <input type="text" name="content" placeholder="Write your post!">
    <input type="text" name="img-url" placeholder="Avatar Url">
    <button>Submit User</button>
    </form>
{% endblock %}
