{% extends 'base.html' %}
{% block head %}
{% block title %}<title>Posts</title>{% endblock %}
{% endblock %}
{% block top_text %} {% endblock %}
{% block content %}
<h1>Recent Posts</h1>

{% for post in posts %}
<h3 class="mt-4">
    <a href="/posts/{{post.id}}">{{ post.title }}</a>
</h3>
<p>{{ post.content }}</p>
<p>
    <small>By {{post.user.first_name}}</small>
</p>
{% endfor %}
<div class="">
<button class="btn btn-primary"><a href="/" style="color:white">Add Post</a></button>
</div>
{% endblock %}